body {
    background-image: linear-gradient(rgb(36, 36, 160), rgb(17, 17, 37));
    background-repeat: no-repeat;
    font: normal 24px Arial, Helvetica, sans-serif;
}

.background {
    background: url("images/ReimuBackground.png");
    background-position-x: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.main-container {
    margin: auto;
    width: 40%;
    min-height: 1000px;
}

@media (max-width: 1440px) {
    .main-container {
        width: 50%;
    }
}

@media (max-width: 1200px) {
    .main-container {
        width: 60%;
    }
}

@media (max-width: 960px) {
    .main-container {
        width: 80%;
    }
}

@media (max-width: 640px) {
    .main-container {
        width: 90%;
    }
}

.box-1 {
    background: rgba(11, 158, 36, 0.5);
    border: rgba(4, 39, 6, 0.5) 5px solid;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.box-1 img {
    /*How to handle images wtihin divs*/
    max-width: 100%;
    height: auto;
    object-fit: fill;
    overflow: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title-1 {
    text-align: center;
}

.hlist-0 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 16px;
    display: inline;
}

.hlist-1 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 16px;
}

.hlist-1 li {
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.hlist-1 li a {
    text-decoration: none;
    color: rgb(9, 53, 24)
}

.hlist-1 li a:hover {
    color: rgb(161, 224, 182)
}

.vlist-1 {
    padding: 0;
    font-size: 20px;
    list-style-type: none;
}

.vlist-1 li {
    margin: 10px;
}

.vlist-1 li a {
    text-decoration: none;
    color: rgb(9, 53, 24)
}

.vlist-1 li a:hover {
    color: rgb(161, 224, 182)
}

.para-0 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-align: center;
}

.para-1 {
    font-size: 20px;
    margin-bottom: 0;
}

.smalltext-left {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.smalltext-center {
    margin: 0;
    padding: 0;
    font-size: 12px;
    text-align: center;
}

.heading-1 {
    font-size: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
    text-decoration: underline;
}

.centerlink-1 {
    /*For the Home button*/
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-align: center;
}

.centerlink-2 {
    /*For regular centered buttons*/
    margin: 0;
    padding: 10px;
    font-size: 15px;
    text-align: center;
}